---
import "@/styles/global.css"

type Props = {
  title?: string
}

const { title = "WindPanel Demo" } = Astro.props
const gaMeasurementId = import.meta.env.PUBLIC_GA_MEASUREMENT_ID
const isHostedDemo = import.meta.env.PUBLIC_HOSTED_DEMO === "true"
const shouldLoadAnalytics = isHostedDemo && typeof gaMeasurementId === "string" && gaMeasurementId.length > 0
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    {
      shouldLoadAnalytics && (
        <>
          <script async src={`https://www.googletagmanager.com/gtag/js?id=${gaMeasurementId}`}></script>
          <script is:inline define:vars={{ gaMeasurementId }}>
            window.dataLayer = window.dataLayer || [];
            function gtag() {
              dataLayer.push(arguments);
            }
            gtag("js", new Date());
            gtag("config", gaMeasurementId);
          </script>
        </>
      )
    }
  </head>
  <body>
    <slot />
  </body>
</html>
